Repository aws/aws-ofi-nccl, changes with the owners that CODEOWNERS names for each.
All owners: @aws/aws-ofi, @bwbarrett, @rauteric

CODEOWNERS:

# Tag the team by default on all PRs
*		@aws/aws-ofi

# Tag resident experts for different parts of the code

# internal device-agnostic API
*api*		@bwbarrett

# Multi-rail scheduler
*scheduler*	@rauteric

# autotools
configure.ac	@bwbarrett
/m4/		@bwbarrett

rdma: disable close message by default
  include/nccl_ofi_param.h
  src/nccl_ofi_rdma.cpp
Owners: @aws/aws-ofi

Add new shared connection establishment module
  include/Makefile.am
  include/cm/nccl_ofi_cm.h
  include/cm/nccl_ofi_cm_reqs.h
  include/cm/nccl_ofi_cm_resources.h
  include/cm/nccl_ofi_cm_types.h
  include/nccl_ofi.h
  include/nccl_ofi_config_bottom.h
  include/nccl_ofi_param.h
  src/Makefile.am
  src/cm/nccl_ofi_cm.cpp
  src/cm/nccl_ofi_cm_reqs.cpp
  src/cm/nccl_ofi_cm_resources.cpp
  src/nccl_ofi_rdma.cpp
Owners: @aws/aws-ofi

rdma, sendrecv: Use new connection management module
  include/nccl_ofi.h
  include/nccl_ofi_rdma.h
  include/nccl_ofi_sendrecv.h
  src/nccl_ofi_api.cpp
  src/nccl_ofi_rdma.cpp
  src/nccl_ofi_sendrecv.cpp
Owners: @aws/aws-ofi, @bwbarrett

doc: Add Ubuntu 24.04 to the supported distro list
  README.md
Owners: @aws/aws-ofi

rdma: Fix endpoint-per-communicator rx buffer posting
  src/nccl_ofi_rdma.cpp
Owners: @aws/aws-ofi

doc: Add Ubuntu 24.04 to the supported distro list
  README.md
Owners: @aws/aws-ofi

doc: Add Ubuntu 24.04 to the supported distro list
  README.md
Owners: @aws/aws-ofi

rdma: fix domain/endpoint release on error during creation
  src/nccl_ofi_rdma.cpp
Owners: @aws/aws-ofi

rdma: Fix double-release of endpoint in connect fail paths
  src/nccl_ofi_api.cpp
  src/nccl_ofi_rdma.cpp
  src/nccl_ofi_sendrecv.cpp
Owners: @bwbarrett, @aws/aws-ofi

rdma, net: Add domain reference counter
  include/nccl_ofi.h
  src/nccl_ofi_net.cpp
  src/nccl_ofi_rdma.cpp
Owners: @aws/aws-ofi

Add domain active flag for deactivating domain
  include/nccl_ofi.h
  include/nccl_ofi_pthread.h
  src/nccl_ofi_net.cpp
  src/nccl_ofi_rdma.cpp
  src/nccl_ofi_sendrecv.cpp
Owners: @aws/aws-ofi

rdma, sendrecv: deactivate domain when closing inflight communicators
  src/nccl_ofi_rdma.cpp
  src/nccl_ofi_sendrecv.cpp
Owners: @aws/aws-ofi

doc: Add Ubuntu 24.04 to the supported distro list
  README.md
Owners: @aws/aws-ofi

tuner: fix p6-b200 0x7 vertex ranks
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi

tuner: fix a p5en 0x7 rank
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi

tuner: fix p6-b200 0x7 vertex ranks
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi

tuner: fix a p5en 0x7 rank
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi

tuner: fix p6-b200 0x7 vertex ranks
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi

tuner: fix a p5en 0x7 rank
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi

tuner: fix p6-b200 0x7 vertex ranks
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi

tuner: fix a p5en 0x7 rank
  src/tuner/nccl_ofi_regions.cpp
Owners: @aws/aws-ofi
